*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(52, 9, 52);
    display: flex;
    flex-wrap: wrap;
}

header img{
   text-align: left;
}

.w50{
    width:50%;
    padding: 0 10px;
}

.menu {
    text-align: right;
    font-size: 15px;
}

.menu a{
    padding: 0 10px;
    font-weight: 300;   
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

section.banner{
    background-color:rgb(52, 9, 52);
}

section.banner img{
    width:100%;
}

section.especialidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding:20px 0;
    background-color:rgb(52, 9, 52);
}

section.especialidades img{
    width: 70px; 
    height: 70px;                                                             
}

section.especialidades h1{
    font-size: 25px;
    color: white;
    padding: 10px;
}

section.especialidades p{
    font-size: 20px;
    font-weight: 300;
    color: 	#808080;
}

.w33{
    width:33.3%;
}

section.clientes{
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

section.clientes img{
    width: 150px;
    height: 150px;
}

section.trabalhos{
    width: 100%;
    background-color:rgb(52, 9, 52);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding:20px;
    font-weight: 500;
}

.trabalhos h1{
    font-size: 30px;
    color: white;
}

.trabalhos p{
    font-size: 20px;
    color: 	#808080;
}

section.trabalhos img{
    padding: 5px;
    width: 100%;
}

footer{
    width:100%;
    font-size: 18px;
    text-align: center;
    color: black;
}